<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="This is a private quotebook for Randy, Nancy, and anyone else who wants a place to store their quotes" />
    <meta name="keywords" content="quote, book, randy, nancy">
    <meta name="author" content="Randy Deng" />

    <title>Quotebook</title>

    <link rel="icon" href="/quotebook.png" />

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/clean-blog.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="error">
        <h1> Quotebook Ran Into an Error! </h1>
        <img src="/img/quotebook.png" alt="Quotebook Logo">
    </div>
    <div class="submit_success">
        <p>
        "Honor thy error as a hidden intention." - Brian Eno
        </p>
        <p>
            If you dislike errors, you can avoid them on <a href="/quotes">this page</a>. :)
        </p>
    </div>
    
</body>