<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="This is a private quotebook for Randy, Nancy, and anyone else who wants a place to store their quotes" />
    <meta name="keywords" content="quote, book, randy, nancy">
    <meta name="author" content="Randy Deng" />

    <title>Quotebook</title>

    <link rel="icon" href="/quotebook.png" />
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/login.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
  <div class="login">
	<h1>Private Quotebook</h1>
    <form method="post">
    	<input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
    </form>
    <div class="error">
    	<p> Guest username and password is "Guest" </p>
    </div>
    {% if error %}
    <div class="error">
        <p> Invalid username or password. <p>
        <p> Please contact <a href="https://www.randydeng.com">Randy Deng</a> if you are having issues. <p>
    </div>
    {% endif %}
  </div>
</body>

</html>
